.form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}
table {
    width: 100%;
}
.mat-header-row {
    background-color: gainsboro;
}
.mat-column-officialName {
    border-right: 1px solid currentColor;
    padding-left: 24px;
    padding-right: 24px;
    text-align: start;
}
.mat-column-usualName {
    border-right: 1px solid currentColor;
    padding-left: 24px;
    padding-right: 24px;
    text-align: start;
}
.mat-column-line {
    border-right: 1px solid currentColor;
    padding-left: 24px;
    padding-right: 24px;
    text-align: start;
}
.mat-column-region {
    border-right: 1px solid currentColor;
    padding-left: 24px;
    padding-right: 24px;
    text-align: start;
}
.mat-column-level {
    border-right: 1px solid currentColor;
    padding-left: 24px;
    padding-right: 24px;
    text-align: start;
}
.mat-column-isActive {
    border-right: 1px solid currentColor;
    padding-left: 24px;
    padding-right: 24px;
    text-align: start;
}
.mat-column-actions {
    border-right: 1px solid currentColor;
    padding-left: 24px;
    padding-right: 24px;
    text-align: start;
}