<pre>{{paginationResponse}}</pre>
<div class="d-flex justify-content-end">
    <button mat-raised-button color="primary"
    data-toggle="tooltip" data-placement="bottom" title="Создать"
    routerLink="/admin/organizations/create">
        <i class="fa-solid fa-plus"></i> Создать
    </button>
</div>
<div class="d-flex justify-content-between align-items-center">
    <div>
        <mat-paginator 
            [length]="paginationResponse.TotalPages"
            [pageSize]="paginationResponse.PageSize"
            [pageSizeOptions]="[10, 25, 100]"
            (page)="onPageChange($event)"
            aria-label="Select page">
        </mat-paginator>
    </div>
    <div class="form-inline">
        <mat-form-field class="me-2" style="width: 300px;" appearance="outline">
            <mat-label>Поиск</mat-label>
            <input matInput (keyup.enter)="onSearch()" #search maxlength="256" placeholder="Оф. название организации">
        </mat-form-field>
        <button mat-stroked-button color="primary" [disabled]="search.value.length == 0"
        data-toggle="tooltip" data-placement="bottom" title="Поиск"
        (click)="onSearch()">
            Поиск
        </button>
        <button mat-stroked-button color="warn" 
        data-toggle="tooltip" data-placement="bottom" title="Очистить"
        (click)="onReset()">
            Очистить
        </button>
    </div>
</div>
<table mat-table [dataSource]="organizations" class="mat-elevation-z8">
    <ng-container matColumnDef="officialName">
      <th mat-header-cell *matHeaderCellDef> Полное название </th>
      <td mat-cell *matCellDef="let element"> {{element.organizationName.officialName}} </td>
    </ng-container>
    <ng-container matColumnDef="usualName">
      <th mat-header-cell *matHeaderCellDef> Сокращенное название </th>
      <td mat-cell *matCellDef="let element"> {{element.organizationName.usualName}} </td>
    </ng-container>
    <ng-container matColumnDef="line">
      <th mat-header-cell *matHeaderCellDef> Адрес </th>
      <td mat-cell *matCellDef="let element"> {{element.address.line}} </td>
    </ng-container>
    <ng-container matColumnDef="specializationIds">
      <th mat-header-cell *matHeaderCellDef> Специализации </th>
      <td mat-cell *matCellDef="let element"> {{element.specializationIds}} </td>
    </ng-container>
    <ng-container matColumnDef="region">
      <th mat-header-cell *matHeaderCellDef> Регион </th>
      <td mat-cell *matCellDef="let element"> {{orgReg[element.region]}} </td>
    </ng-container>
    <ng-container matColumnDef="level">
        <th mat-header-cell *matHeaderCellDef> Уровень </th>
        <td mat-cell *matCellDef="let element"> {{orgLev[element.level]}} </td>
    </ng-container>
    <ng-container matColumnDef="isActive">
        <th mat-header-cell *matHeaderCellDef> Статус </th>
        <td mat-cell *matCellDef="let element"> {{element.isActive ? "Активна" : "Не активна"}} </td>
    </ng-container>
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Действия </th>
        <td mat-cell *matCellDef="let element">
        <div class="btn-group btn-group-sm">
            <button mat-button color="primary" 
                routerLink="/admin/organizations/edit/{{ element.id }}"
                data-toggle="tooltip" data-placement="bottom" title="Редактировать">
                <i class="fa-solid fa-pen-to-square"></i>
            </button>
            <button mat-button color="primary" 
                routerLink="/admin/organizations/{{ element.id }}/specializations"
                data-toggle="tooltip" data-placement="bottom" title="Указать специализации">
                <i class="fa-solid fa-pencil"></i>
            </button>
            <button mat-button color="warn" 
                (click)="deleteOrganization(element.id)"
                data-toggle="tooltip" data-placement="bottom" title="Удалить">
                <i class="fa-solid fa-trash"></i>
            </button>
        </div>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>