<mat-tab-group>
    <mat-tab label="Недооформлено">
        <mat-card class="example-form">
            <mat-card-title class="d-flex justify-content-between">
                <div>
                    Date
                </div>
                <div>
                    action
                </div>
            </mat-card-title>
            <mat-card-content>
                123
            </mat-card-content>
        </mat-card>
    </mat-tab>
    <mat-tab label="Открыто">
        <mat-card class="example-form">
            <mat-card-title class="d-flex justify-content-between">
                <div>
                    Date
                </div>
                <div>
                    action
                </div>
            </mat-card-title>
            <mat-card-content>
                123
            </mat-card-content>
        </mat-card>
    </mat-tab>
    <mat-tab label="Требует дополения">
        <mat-card class="example-form">
            <mat-card-title class="d-flex justify-content-between">
                <div>
                    Date
                </div>
                <div>
                    action
                </div>
            </mat-card-title>
            <mat-card-content>
                123
            </mat-card-content>
        </mat-card>
    </mat-tab>
    <mat-tab label="Аннулировано">
        <mat-card class="example-form">
            <mat-card-title class="d-flex justify-content-between">
                <div>
                    Date
                </div>
                <div>
                    action
                </div>
            </mat-card-title>
            <mat-card-content>
                123
            </mat-card-content>
        </mat-card>
    </mat-tab>
</mat-tab-group>