<div class="container">
    <div class="row">
        <div class="col">
            <div class="d-flex justify-content-end mb-2" routerLink="/admin/organizations/create">
                <button class="btn btn-primary">
                    <i class="fa-solid fa-plus"></i> Создать
                </button>
            </div>
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Полное название</th>
                            <th>Сокращенное название</th>
                            <th>Адрес</th>
                            <th>Специализации</th>
                            <th>Регион</th>
                            <th>Уровень</th>
                            <th>Статус</th>
                            <th style="width: 67px"></th>
                        </tr>
                    </thead>
                    <tbody>
                            <tr>
                                <td>OfficialName</td>
                                <td>UsualName</td>
                                <td>Address</td>
                                <td>Specializations</td>
                                <td>RegionDisplay</td>
                                <td>LevelDisplay</td>
                                <td>IsActive</td>
                                <td>
                                    <div class="row">
                                        <div class="col">
                                            <div class="btn-group btn-group-sm">
                                                <a class="btn btn-primary">
                                                    <i class="fa-solid fa-pen-to-square"></i> Редактировать
                                                </a>
                                                <a class="btn btn-primary">
                                                    <i class="fa-solid fa-pencil"></i> Указать специализации
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                    </tbody>
                </table>
        </div>
    </div>
</div>