<div class="container mt-5">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header bg-primary">
                    <div class="d-flex justify-content-end">
                        <a class="btn btn-secondary" routerLink="/admin/organizations">
                            <i class="fa-solid fa-xmark"></i> Отмена
                        </a>
                        <button type="submit" class="btn btn-success">
                            <i class="fa-solid fa-check"></i> Сохранить
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <h4>Организация</h4>
                    <hr/>
                    <form class="form-group">
                        <div class="mb-2">
                            <input type="text" class="form-control" placeholder="OfficialName">
                        </div>
                        <div class="mb-2">
                            <input type="text" class="form-control" placeholder="UsualName">
                        </div>
                        <div class="mb-2">
                            <input type="text" class="form-control" placeholder="Address">
                        </div>
                        <div class="mb-2">
                            <select class="form-select">
                                <option value="">Select IsActive</option>
                            </select>
                        </div>
                        <div class="mb-2">
                            <select class="form-select">
                                <option value="">Select Region</option>
                            </select>
                        </div>
                        <div class="mb-2">
                            <select class="form-select">
                                <option value="">Select Level</option>
                            </select>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>