<h2>
    <button class="btn btn-primary" routerLink="/organizations/create">Создать</button>
</h2>
<div class="row">
    <div class="col-sm-12">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Полное название</th>
                    <th>Сокращенное название</th>
                    <th>Адрес</th>
                    <th>Специализации</th>
                    <th>Регион</th>
                    <th>Уровень</th>
                    <th>Статус</th>
                    <th style="width: 67px"></th>
                </tr>
            </thead>
            <tbody>
                    <tr *ngFor="let item of organizations$ | async">
                        <td>{{ item.organizationName.officialName }}</td>
                        <td>{{ item.organizationName.usualName }}</td>
                        <td>{{ item.address.line }}</td>
                        <td>{{ item.specializationIds }}</td>
                        <td>{{ item.region }}</td>
                        <td>{{ item .level }}</td>
                        <td>{{ item.isActive }}</td>
                        <td>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="btn-group btn-group-sm">
                                        <button type="button" class="btn btn-primary">
                                            Редактировать
                                        </button>
                                        <button type="button" class="btn btn-primary">
                                            Указать специализации
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
            </tbody>
        </table>
    </div>
</div>