<div class="d-flex justify-content-end">
    <button mat-raised-button color="primary"
        matTooltip="Создать"
        routerLink="/admin/accounts/create">
        <i class="fa-solid fa-plus"></i> Создать
    </button>
</div>
<div class="d-flex justify-content-between align-items-center">
    <div *ngIf="paginationResponse">
        <mat-paginator [length]="paginationResponse.TotalCount"
              [pageSize]="paginationResponse.PageSize"
              [pageSizeOptions]="[10, 25, 50]"
              (page)="onPageChange($event)"
              aria-label="Select page">
        </mat-paginator>
    </div>
    <div class="form-inline">
        <mat-form-field class="me-2" style="width: 300px;" appearance="outline">
            <mat-label>Поиск</mat-label>
            <input matInput (keyup.enter)="onSearch()" #search maxlength="256" placeholder="Логин пользователя">
        </mat-form-field>
        <button mat-stroked-button color="primary" [disabled]="search.value.length == 0"
            matTooltip="Поиск"
            (click)="onSearch()">
            Поиск
        </button>
        <button mat-stroked-button color="warn"
            matTooltip="Очистить"
            (click)="onReset()">
            Очистить
        </button>
    </div>
</div>
<table mat-table [dataSource]="accounts" class="mat-elevation-z8">
    <ng-container matColumnDef="userName">
      <th mat-header-cell *matHeaderCellDef> Логин </th>
      <td mat-cell *matCellDef="let element"> {{ element.userName }} </td>
    </ng-container>
    <ng-container matColumnDef="fullName">
      <th mat-header-cell *matHeaderCellDef> ФИО </th>
      <td mat-cell *matCellDef="let element"> {{ element.lastName + " " + element.firstName + " " + element.middleName }} </td>
    </ng-container>
    <ng-container matColumnDef="roleId">
      <th mat-header-cell *matHeaderCellDef> Роль </th>
      <td mat-cell *matCellDef="let element"> {{ element.role }} </td>
    </ng-container>
    <ng-container matColumnDef="specializationId">
      <th mat-header-cell *matHeaderCellDef> Специализация </th>
      <td mat-cell *matCellDef="let element"> {{ element.specializationId }} </td>
    </ng-container>
    <ng-container matColumnDef="organizationId">
        <th mat-header-cell *matHeaderCellDef> Организация </th>
        <td mat-cell *matCellDef="let element"> {{ element.organizationId }} </td>
    </ng-container>
    <ng-container matColumnDef="contacts">
        <th mat-header-cell *matHeaderCellDef> Контактные данные </th>
        <td mat-cell *matCellDef="let element"> 123 </td>
    </ng-container>
    <ng-container matColumnDef="isActive">
        <th mat-header-cell *matHeaderCellDef> Статус </th>
        <td mat-cell *matCellDef="let element"> {{element.isActive ? "Активен" : "Не активен"}} </td>
    </ng-container>
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Действия </th>
        <td mat-cell *matCellDef="let element">
        <div class="btn-group btn-group-sm">
            <button mat-button color="primary" 
                routerLink="/admin/accounts/edit/{{ element.id }}"
                matTooltip="Редактировать">
                <i class="fa-solid fa-user-pen"></i>
            </button>
            <button mat-button color="primary"
                matTooltip="Сбросить пароль">
                <i class="fa-solid fa-key"></i>
            </button>
            <button mat-button color="primary"
                matTooltip="Изменить имя пользователя">
                <i class="fa-solid fa-address-card"></i>
            </button>
            <button mat-button color="warn"
                (click)="deleteAccount(element.id)"
                matTooltip="Удалить">
                <i class="fa-solid fa-trash"></i>
            </button>
        </div>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>