<mat-card class="example-form">
    <mat-card-title class="card-header bg-primary d-flex" style="align-items: center;">
    <div>
        <h3>Аторизация</h3>
    </div>
    </mat-card-title>
    <mat-card-content>
        <form [formGroup]="ownerForm" autocomplete="off" novalidate (ngSubmit)="loginUser()">
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Username</mat-label>
                <input matInput required type="text" id="login" formControlName="login" placeholder="Логин:"/>
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput required type="password" id="password" formControlName="password" placeholder="Пароль:"/>
            </mat-form-field>
            <br>
            <div>
                <button mat-raised-button color="primary" type="submit" [disabled]="ownerForm.invalid">
                    <i class="fa-solid fa-check"></i> Login
                </button>
            </div>
        </form>
    </mat-card-content>
</mat-card>