<mat-card class="example-form">
    <mat-card-title class="d-flex justify-content-between">
        <div class="col">
            <h3>Организация</h3>
        </div>
        <div>
            <a mat-raised-button routerLink="/admin/organizations">
                <i class="fa-solid fa-xmark"></i> Отмена
            </a>
            <button mat-raised-button color="primary" type="submit" form="createForm" [disabled]="ownerForm.invalid">
                <i class="fa-solid fa-check"></i> Создать
            </button>
        </div>
    </mat-card-title>
    <mat-card-content>
        <form [formGroup]="ownerForm" (ngSubmit)="createOrganization()" id="createForm">
            <div formGroupName="organizationName">
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Полное наименование организации</mat-label>
                    <input matInput required formControlName="officialName" type="text" placeholder="OfficialName">
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Сокращенное наименование организации</mat-label>
                    <input matInput required formControlName="usualName" type="text" placeholder="UsualName">
                </mat-form-field>
            </div>
            <div formGroupName="address">
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Адрес организации</mat-label>
                    <input matInput required formControlName="line" type="text" placeholder="Address">
                </mat-form-field>
            </div>
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Регион организации</mat-label>
                <mat-select formControlName="region">
                    <mat-option *ngFor="let region of enumValuse(orgReg)" [value]="region">{{ region | orgReg }}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Уровень организации</mat-label>
                <mat-select formControlName="level">
                    <mat-option *ngFor="let level of enumValuse(orgLev)" [value]="level">{{ level | orgLev }}</mat-option>
                </mat-select>
            </mat-form-field>
        </form>
    </mat-card-content>
</mat-card>