<mat-card class="example-form">
    <mat-card-title class="d-flex justify-content-between">
        <div class="col">
            <h3>{{ orgName }}</h3>
        </div>
        <div>
            <a mat-raised-button routerLink="/admin/organizations">
                <i class="fa-solid fa-xmark"></i> Отмена
            </a>
            <button mat-raised-button color="primary" type="submit" form="updateSpecForm">
                <i class="fa-solid fa-check"></i> Сохранить
            </button>
        </div>
    </mat-card-title>
    <mat-divider inset></mat-divider>
    <mat-card-content *ngIf="ownerForm">
        <form (ngSubmit)="updateOrganization()" id="updateSpecForm">
            <div class="col" *ngFor="let specialization of specializations">
                <mat-checkbox #checkbox
                    [checked]="checkSpecializationInOrganization(specialization.id)" 
                    (change)="pushSpecializationInOrganization($event)"
                    color="primary"
                    value="{{ specialization.id }}"
                    name="{{ specialization.id }}">
                    {{ specialization.name }}
                </mat-checkbox>
            </div>
        </form>
    </mat-card-content>
</mat-card>