<mat-card class="example-form">
    <mat-card-title class="card-header d-flex justify-content-between" style="align-items: center; background-color: #135589;">
        <div class="col">
            <h3>{{ orgName }}</h3>
        </div>
        <div>
            <a mat-raised-button matTooltip="Отмена" routerLink="/admin/organizations">
                <i class="fa-solid fa-xmark"></i> Отмена
            </a>
            <button mat-raised-button color="primary" matTooltip="Сохранить" type="submit" (click)="updateOrganization()" form="updateSpecForm">
                <i class="fa-solid fa-check"></i> Сохранить
            </button>
        </div>
    </mat-card-title>
    <mat-divider inset></mat-divider>
    <mat-card-content>
        <form [formGroup]="ownerForm" *ngIf="ownerForm" (ngSubmit)="updateOrganization()" id="updateSpecForm">
            <div class="col" *ngFor="let specialization of specializations">
                <mat-checkbox #checkbox
                    [checked]="checkSpecializationInOrganization(specialization.id)" 
                    (change)="pushSpecializationInOrganization($event)"
                    color="primary"
                    value="{{ specialization.id }}"
                    name="{{ specialization.id }}">
                    {{ specialization.name }}
                </mat-checkbox>
            </div>
        </form>
    </mat-card-content>
</mat-card>
