<pre>{{ organization | json }}</pre>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header bg-primary">
                    <div class="d-flex justify-content-end">
                        <a class="btn btn-secondary" routerLink="/admin/organizations">
                            <i class="fa-solid fa-xmark"></i> Отмена
                        </a>
                        <button type="submit" form="updateSpecForm" class="btn btn-success">
                            <i class="fa-solid fa-check"></i> Сохранить
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <h4>{{ organization.organizationName.usualName }}</h4>
                    <hr/>
                    <form class="form-group" id="updateSpecForm" (submit)="updateOrganization()">
                        <div class="col" *ngFor="let specialization of specializations">
                            <label>
                                <input 
                                type="checkbox"
                                ng-true-value=""
                                [checked]="checkSpecializationInOrganization(specialization.id)"
                                (change)="pushSpecializationInOrganization($event)"
                                value="{{ specialization.id }}"
                                name="{{ specialization.id }}"/> {{ specialization.name }}
                            </label>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>