<pre>{{ ownerForm.value | json }}</pre>
<mat-card class="example-form">
    <mat-card-title class="card-header bg-primary">
        <div class="d-flex justify-content-end">
            <a mat-raised-button routerLink="/admin/accounts">
                <i class="fa-solid fa-xmark"></i> Отмена
            </a>
            <button mat-raised-button color="primary" form="createForm" [disabled]="ownerForm.invalid">
                <i class="fa-solid fa-check"></i> Создать
            </button>
        </div>
    </mat-card-title>
    <mat-card-content>
        <form [formGroup]="ownerForm" class="createForm" id="createForm">
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Имя пользователя</mat-label>
                <input matInput required formControlName="userName" type="text" placeholder="userName">
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Пароль</mat-label>
                <input matInput required formControlName="password" type="password" placeholder="password">
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Подтверждение пароля</mat-label>
                <input matInput required formControlName="confirmPassword" type="password" placeholder="confirmPassword">
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Фамилия</mat-label>
                <input matInput required formControlName="lastName" type="text" placeholder="lastName">
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Имя</mat-label>
                <input matInput required formControlName="firstName" type="text" placeholder="firstName">
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Отчество</mat-label>
                <input matInput required formControlName="middleName" type="text" placeholder="middleName">
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Роль</mat-label>
                <mat-select formControlName="role">
                    <mat-option *ngFor="let role of roles" [value]="role.name">{{role.name}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Организация</mat-label>
                <mat-select formControlName="organizationId">
                    <mat-option *ngFor="let shortOrganization of shortOrganizations" [value]="shortOrganization.id">{{ shortOrganization.name }}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Номер мобильного телефона</mat-label>
                <input matInput required formControlName="phoneNumber" type="number" placeholder="phoneNumber">
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Номер городского телефона</mat-label>
                <input matInput required formControlName="officePhone" type="number" placeholder="officePhone">
            </mat-form-field>
        </form>
    </mat-card-content>
</mat-card>