<button mat-button class="menu-button">
  Направления
</button>
<button mat-button class="menu-button">
  Направления организации
</button>
<button mat-button class="menu-button">
  Консультативные заключения
</button>
<button mat-button class="menu-button">
  Консультативные заключения организации
</button>
<button mat-button class="menu-button">
  Запросы на консультацию
</button>
<button mat-button class="menu-button">
  Аннулированные запросы на консультацию
</button>
<button mat-button class="menu-button">
  Заключения со статусом "Требует дополнения"
</button>
<button mat-button class="menu-button">
  Заключения организации "Требует дополнения"
</button>
<button mat-button class="menu-button">
  Архив собственных заключений
</button>
<button mat-button class="menu-button">
  Архив заключений организации
</button>
<button mat-button class="menu-button">
  Панель управления
</button>
<button mat-button class="menu-button" routerLink="/admin/accounts">
  Пользователи
</button>
<button mat-button class="menu-button" routerLink="/admin/organizations">
  Организации
</button>
<button mat-button class="menu-button" routerLink="/admin/specializations">
  Специализации
</button>
<button mat-button class="menu-button" routerLink="/admin/reports">
  Отчеты
</button>
<button mat-button class="menu-button">
  Отчет по консультирующей организации
</button>
<button mat-button class="menu-button">
  Отчет по консультирующейся организации
</button>
<button mat-button class="menu-button" routerLink="/admin/contacts">
  Контакты
</button>