<pre>isUserAdmin:{{isUserAdmin}}</pre>
<pre>isUserDocktor:{{isUserDocktor}}</pre>
<pre>isUserAuthenticated:{{isUserAuthenticated}}</pre>
<button *ngIf="isUserDocktor" button mat-raised-button color="primary" class="menu-button" routerLink='/ereferral'>
  <span>
    Направления
  </span>
</button>
<button *ngIf="!isUserAuthenticated" button mat-raised-button color="primary" class="menu-button">
  <span>
    Направления организации
  </span>
</button>
<button *ngIf="!isUserAuthenticated" button mat-raised-button color="primary" class="menu-button">
  <span>
    Консультативные заключения
  </span>
</button>
<button *ngIf="!isUserAuthenticated" button mat-raised-button color="primary" class="menu-button">
  <span>
    Консультативные
    <br>
    заключения организации
  </span>
</button>
<button *ngIf="!isUserAuthenticated" button mat-raised-button color="primary" class="menu-button">
  <span>
    Запросы на консультацию
  </span>
</button>
<button *ngIf="!isUserAuthenticated" button mat-raised-button color="primary" class="menu-button">
  <span>
    Аннулированные запросы
    <br>
    на консультацию
  </span>
</button>
<button *ngIf="!isUserAuthenticated" button mat-raised-button color="primary" class="menu-button">
  <span>
    Заключения со статусом
    <br>
    "Требует дополнения"
  </span>
</button>
<button *ngIf="!isUserAuthenticated" button mat-raised-button color="primary" class="menu-button">
  <span>
    Заключения организации
    <br>
    "Требует дополнения"
  </span>
</button>
<button *ngIf="!isUserAuthenticated" button mat-raised-button color="primary" class="menu-button">
  <span>
    Архив собственных заключений
  </span>
</button>
<button *ngIf="!isUserAuthenticated" button mat-raised-button color="primary" class="menu-button">
  <span>
    Архив заключений организации
  </span>
</button>
<button *ngIf="isUserAdmin" button mat-raised-button color="primary" class="menu-button">
  <span>
    Панель управления
  </span>
</button>
<button *ngIf="isUserAdmin" button mat-raised-button color="primary" class="menu-button" [routerLink]="['admin/accounts']" routerLinkActive="activebutton">
  <span>
    Пользователи
  </span>
</button>
<button *ngIf="isUserAdmin" button mat-raised-button color="primary" class="menu-button" [routerLink]="['admin/organizations']" routerLinkActive="activebutton">
  <span>
    Организации
  </span>
</button>
<button *ngIf="isUserAdmin" button mat-raised-button color="primary" class="menu-button" [routerLink]="['admin/specializations']" routerLinkActive="activebutton">
  <span>
    Специализации
  </span>
</button>
<button *ngIf="isUserAdmin" button mat-raised-button color="primary" class="menu-button">
  <span>
    Отчеты
  </span>
</button>
<button *ngIf="!isUserAuthenticated" button mat-raised-button color="primary" class="menu-button">
  <span>
    Отчет по консультирующей
    <br>
    организации
  </span>
</button>
<button *ngIf="!isUserAuthenticated" button mat-raised-button color="primary" class="menu-button">
  <span>
    Отчет по консультирующейся
    <br>
    организации
  </span>
</button>
<button *ngIf="isUserAdmin" button mat-raised-button color="primary" class="menu-button" >
  <span>
    Контакты
  </span>
</button>