<mat-card class="example-form">
    <mat-card-title class="d-flex justify-content-between">
    <div>
        {{ data.updated | date : 'medium' }}
    </div>
    <div>
        <button mat-stroked-button color="primary" 
            routerLink="/referrals/edit/{{ data.id }}"
            matTooltip="Редактировать">
            <i class="fa-solid fa-pen-to-square"></i>
        </button>
        <button mat-stroked-button color="warn" 
            (click)="onRemoveClick(data.id)"
            matTooltip="Удалить">
            <i class="fa-solid fa-trash"></i>
        </button>
    </div>
    </mat-card-title>
    <mat-divider inset></mat-divider>
    <mat-card-content>
        <p>Статус: {{ referralStatus[data.status] }}</p>
        <p>Пациент: {{ data.patient.fullName }}</p>
        <p>Врач, отправивший запрос: {{ data.authorId }}</p>
        <p>Консультант: - </p>
        <p>Кол-во заключений: - </p>
    </mat-card-content>
</mat-card>