<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header bg-primary">
                    <div class="d-flex justify-content-end">
                        <a class="btn btn-secondary" routerLink="/admin/specializations">
                            <i class="fa-solid fa-xmark"></i> Отмена
                        </a>
                        <button type="submit" class="btn btn-success">
                            <i class="fa-solid fa-check"></i> Создать
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <h4>Специализация</h4>
                    <hr />
                    <form class="form-group">
                        <div class="mb-2">
                            <input type="text" class="form-control" placeholder="Name">
                        </div>
                        <div class="mb-2">
                            <select class="form-select">
                                <option value="">Deny Consult</option>
                            </select>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>