<mat-toolbar class="nav-bar">
    <div>
        Республиканская телемедицинская система унифицированного медицинского консультирования (РТМС)
    </div>
    <div>
        <button button mat-raised-button color="primary"
            *ngIf="!isUserAuthenticated"
            class="btn btn-link" (click)="login()">Login</button>
        <button button mat-raised-button color="primary"
            *ngIf="isUserAuthenticated"
            class="btn btn-link" (click)="logout()">Logout</button>
    </div>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav *ngIf="isUserAuthenticated" mode="side" opened>
        <app-side-bar [isUserAuthenticated]="isUserAuthenticated" [isUserAdmin]="isUserAdmin"></app-side-bar>
    </mat-sidenav>
    <mat-sidenav-content>
        <main class="content mat-elevation-z8">
            <router-outlet></router-outlet>
        </main>
    </mat-sidenav-content>
</mat-sidenav-container>