<div class="row">
    <div class="col-sm-6">
        <div class="panel panel-primary">
            <div class="panel-heading relative">
                <div class="pull-right menu_top_3">
                    <button class="btn btn-secondary" routerLink="/organizations">Отмена</button>
                    <button class="btn btn-success" form="createForm" type="submit">Создать</button>
                </div>
            </div>
            <div class="panel-body">
                <h4>Организация</h4>
                <hr/>
                <form #registerForm="ngForm" id="createForm" (ngSubmit)="createProduct()">
                    <div class="mb-3">
                        <label class="form-label">
                            <h5>Официальное наименование</h5>
                        </label>
                        <input type="text" class="form-control" required [(ngModel)]="data.organizationName.officialName" name="officialName" placeholder="Полне название">
                        <div class="form-text">
                            <strong>Например:</strong> Республиканский научно-практический центр медицинских технологий, информатизации, управления и экономики здравоохранения
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">
                            <h5>Сокращенное наименование</h5>
                        </label>
                        <input type="text" class="form-control" required [(ngModel)]="data.organizationName.usualName" name="usualName" placeholder="Сокращенное название">
                        <div class="form-text">
                            <strong>Например:</strong> РНПЦ МТ
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">
                            <h5>Адрес организации</h5>
                        </label>
                        <input type="text" class="form-control" required [(ngModel)]="data.address.line" name="line" placeholder="Адрес">
                        <div class="form-text">
                            <strong>Например:</strong> г. Минск, ул. Петруся Бровки, 7а
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">
                            <h5>Регион организации</h5>
                        </label>
                        <select class="form-control" required [(ngModel)]="data.region" name="region">
                            <option value="0">Брестская область</option>
                            <option value="1">Витебская область</option>
                            <option value="2">Гомельская область</option>
                            <option value="3">Гродненская область</option>
                            <option value="4">Минская область</option>
                            <option value="5">Могилевская область</option>
                            <option selected value="6">г. Минск</option>
                            <option value="7">Республика Беларусь</option>
                        </select>
                        <div class="form-text">
                            <strong>Например:</strong> г. Минск
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">
                            <h5>Региональный уровень организации</h5>
                        </label>
                        <select class="form-control" required [(ngModel)]="data.level" name="level">
                            <option value="0">Районный уровень</option>
                            <option value="1">Областной уровень</option>
                            <option selected value="2">Республиканский уровень</option>
                        </select>
                        <div class="form-text">
                            <strong>Например:</strong> Республиканский уровень
                        </div>
                    </div>
                </form>
                <hr>
            </div>
        </div>
    </div>
</div>