<div class="container">
    <pre>{{ organization | json }}</pre>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header bg-primary">
                    <div class="d-flex justify-content-end">
                        <a class="btn btn-secondary" routerLink="/admin/organizations">
                            <i class="fa-solid fa-xmark"></i> Отмена
                        </a>
                        <button type="submit" class="btn btn-success">
                            <i class="fa-solid fa-check"></i> Сохранить
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <h4>{{ organization.organizationName.usualName }}</h4>
                    <hr/>
                    <div class="checkbox" *ngFor="let specialization of specializations">
                        <label>
                            <input 
                                type="checkbox"
                                ng-true-value=""
                                [checked]="checkSpecializationInOrganization(specialization.id)"
                                (change)="pushSpecializationInOrganization(specialization.id)"
                                value="{{ specialization.id }}"
                                name="SpecializationIds"/> {{ specialization.name }}
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>