<mat-card class="example-form">
    <mat-card-title class="d-flex justify-content-end">
        <div class="col">
            <h3>{{ specName }}</h3>
        </div>
        <div>
            <a mat-raised-button routerLink="/admin/specializations">
                <i class="fa-solid fa-xmark"></i> Отмена
            </a>
            <button mat-raised-button color="primary" type="submit" form="editForm" [disabled]="ownerForm?.invalid">
                <i class="fa-solid fa-check"></i> Сохранить
            </button>
        </div>
    </mat-card-title>
    <mat-card-content>
        <form [formGroup]="ownerForm" *ngIf="ownerForm" id="editForm" (submit)="updateSpecialization()">
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Наименование специализации</mat-label>
                <input matInput required formControlName="name" type="text" placeholder="Name">
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Активность специализации</mat-label>
                <mat-select formControlName="isActive">
                    <mat-option [value]="true">Активна</mat-option>
                    <mat-option [value]="false">Не Активна</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Разрешение на консултацию</mat-label>
                <mat-select formControlName="denyConsult">
                    <mat-option [value]="true">Разрешено</mat-option>
                    <mat-option [value]="false">Запрещено</mat-option>
                </mat-select>
            </mat-form-field>
        </form>
    </mat-card-content>
</mat-card>