<pre>{{ownerForm.value | json}}</pre>
<mat-card class="example-form">
    <mat-card-title class="card-header d-flex justify-content-between" style="background-color: #135589;">
        <div class="col">
            <h3>Анамнез</h3>
        </div>
        <div>
            <a mat-raised-button matTooltip="Отмена" routerLink="/referrals/edit/{{referralId}}">
                <i class="fa-solid fa-xmark"></i> Отмена
            </a>
            <button mat-raised-button color="primary" matTooltip="Добавить" type="submit" form="createForm" [disabled]="ownerForm.invalid">
                <i class="fa-solid fa-check"></i> Добавить
            </button>
        </div>
    </mat-card-title>
    <mat-card-content>
        <form [formGroup]="ownerForm" id="createForm">
            <mat-label>Тип</mat-label>
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Укажите тип анаменза</mat-label>
                <mat-select formControlName="categoryId">
                    <mat-option *ngFor="let anamnesis of enumValuse(anamnesisCategory)" [value]="anamnesis">{{ anamnesis | anamnesisCategories }}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-label>Описание</mat-label>
            <mat-form-field class="example-full-width" appearance="outline">
                <textarea matInput formControlName="summary" type="text"></textarea>
            </mat-form-field>
        </form>
    </mat-card-content>
</mat-card>