<div class="container">
    <div class="row">
        <div class="col">
            <div class="card bg-primary">
                <div class="card-header">
                    <h5>Авторизация</h5>
                </div>
                <div class="card-body bg-white">
                    <div class="row">
                        <div>
                            <div class="form-group">
                                <label>Логин</label>
                                <input type="text" class="form-control" placeholder="Login" autocomplete="off">
                                <label>Пароль</label>
                                <input type="password" class="form-control" placeholder="Password" autocomplete="off">
                            </div>
                            <br>
                            <div class="d-flex justify-content-between">
                                <label>
                                    <input type="checkbox"> Запомнить?
                                </label>
                                <button class="btn btn-sm btn-primary" type="submit">
                                    Войти
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>