<div class="row align-items-center justify-content-center">
    <div class="col-lg-4 col-lg-offset-2 col-md-6 col-md-offset-1 col-sm-12">
        <div class="card text-white bg-primary mb-3">
            <div class="card-header">
                <h5>Авторизация</h5>
            </div>
            <div class="card border-primary text-black">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <form>
                                <div class="form-group">
                                    <label>Логин</label>
                                    <input type="text" placeholder="Login" class="form-control" autocomplete="off">
                                </div>
                                <div class="form-group">
                                    <label>Пароль</label>
                                    <input type="password" placeholder="Password" class="form-control" autocomplete="off">
                                </div>
                                <br>
                                <div class="d-flex justify-content-between">
                                    <label>
                                        <input type="checkbox" value="true">
                                        Запомнить?
                                    </label>
                                    <button class="btn btn-primary" type="submit">
                                        Войти
                                    </button>
                                </div>
                            </form>
                        </div>    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>